.pizza {
  width: 100%;
  height: 100%;
  color: white;
  background-image: url(../../../Img/backgrounds/backgroundOptimizados/PizzaBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.esfihas-container{
  max-width: 1200px;
  margin: auto;
}
.esfihas-infotext{
  margin: auto;
  text-align: center;
}
.esfihas-infotext h1{
 padding-bottom: 40px;
}
.esfihas-ingredientes{
  margin: auto;
  max-width: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}
.esfihas-ingredientes ul{
  margin: 40px 70px;
  font-weight: 700;
}
.esfihas-ingredientes::after{
  content: "R$40,00";
  position: absolute;
  top: 140px;
  right: -200px;
  font-family: "VeneerItalic", sans-serif;
  font-size: 4rem;
  padding: 10px 20px;
  border: 3px solid white;
  border-radius: 10px;
  transform: rotate(0.9turn);
}
.ingredientes-header{
  grid-column: span 2;
  text-align: center;
}
.adicional{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  grid-column: span 2;

}
.close-button{
  margin: 20px;
}
.esfihas-logo{
  margin-left: 50px;
}
.tamanho{
  margin: -50px 0 20px 20px;
  font-family: "Poppins" sans-serif;
  font-size: 1.5rem;

}

@media (max-width: 1020px){
.ingredientes-header{
  margin-top: 100px;
}
  .esfihas-ingredientes::after{
    top: -20px;
    right: 200px;
    transform: rotate(0turn);
  }
}